.footer {
    background-color: #eeeeee;
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-md) 0;
    font-size: 12px;

    p {
        font-size: 10px;
        color: var(--text-secondary);
    }
}