.footer {
    background-color: #eeeeee;
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-md) 0;

    p {
        font-size: var(--font-size-sm);
        color: var(--text-secondary);
    }
}